<?xml version="1.0"?>
<config>
    <modules>
        <Webguys_EasytemplateNewsletter>
            <version>1.0.0.0</version>
        </Webguys_EasytemplateNewsletter>
    </modules>
    <global>
        <helpers>
            <easytemplate_newsletter>
                <class>Webguys_EasytemplateNewsletter_Helper</class>
            </easytemplate_newsletter>
        </helpers>
        <blocks>
            <easytemplate_newsletter>
                <class>Webguys_EasytemplateNewsletter_Block</class>
            </easytemplate_newsletter>
        </blocks>
        <models>
            <easytemplate_newsletter>
                <class>Webguys_EasytemplateNewsletter_Model</class>
            </easytemplate_newsletter>
            <newsletter>
                <rewrite>
                    <template>Webguys_EasytemplateNewsletter_Model_Newsletter</template>
                </rewrite>
            </newsletter>
        </models>
        <resources>
            <easytemplate_newsletter_setup>
                <setup>
                    <module>Webguys_EasytemplateNewsletter</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </easytemplate_newsletter_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <webguys_easytemplatenewsletter>
                    <file>webguys/easytemplate_newsletter.xml</file>
                </webguys_easytemplatenewsletter>
            </updates>
        </layout>
        <events>
            <model_save_before>
                <observers>
                    <webguys_easytemplatenewsletter>
                        <class>easytemplate_newsletter/observer</class>
                        <method>modelSaveBefore</method>
                    </webguys_easytemplatenewsletter>
                </observers>
            </model_save_before>
            <model_save_commit_after>
                <observers>
                    <webguys_easytemplatenewsletter>
                        <class>easytemplate_newsletter/observer</class>
                        <method>modelSaveCommitAfter</method>
                    </webguys_easytemplatenewsletter>
                </observers>
            </model_save_commit_after>
            <adminhtml_block_html_before>
                <observers>
                    <webguys_easytemplatenewsletter>
                        <class>easytemplate_newsletter/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </webguys_easytemplatenewsletter>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
</config>